@font-face {
  font-family: "BlackHanSan";
  src: url("./fonts/BlackHanSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-VariableFont.ttf") format("truetype");
}

.App {
  text-align: center;
  font-family: 'BlackHanSan';
}

header {
  font-size: larger;
}